<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Useful Links</h3>
        <ul>
            <li><a href="/least_efficient_state"> Least efficient state</a></li>
            <li><a href="/most_efficient_state"> Most efficient state</a></li>

            <li><a href="/least_affected_state"> Least affected state</a></li>
            <li><a href="/most_affected_state"> Most Affected state</a></li>

             <li><a href="/highest_covid_cases"> Highest covid cases state</a></li>
            <li><a href="/least_covid_cases"> Least covid cases state</a></li>
            <li><a href="/total_cases"> Total Covid cases</a></li>
        </ul>
    </div>


</body>
</html>